*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}


    /* vertical side badge */
    /* .side-badge {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      background: rgba(255,255,255,0.06);
      color: #dbefff;
      padding: .6rem .5rem;
      border-radius: .25rem;
      font-weight: 600;
      letter-spacing: 1px;
    } */
